body {
  background-color: beige;
}

img {
  max-height: 70px;
}

nav.navbar {
  border-radius: 0;
}

h1 {
  margin-bottom: 20px;
}

label {
  cursor: pointer;
  display: block;
}

form.chapter-input {
  margin-bottom: 20px;
}

form.chapter-input > .form-group {
  width: 33%;
}

form.chapter-input > .form-group > input {
  width: 100%;
}

form .form-file {
  display: none;
}

.audio-input label {
  cursor: default;
}

.chapter-box {
  text-align: center;
  border: 5px solid black;
  padding: 7px;
  margin-bottom: 5px;
}

#emailIntroInput {
  height: 135px;
  max-height: 135px;
}
