body {
  background-color: beige;
}

img {
  max-height: 70px;
}

nav.navbar {
  border-radius: 0;
}

h1 {
  margin-bottom: 20px;
}

label {
  cursor: pointer;
  display: block;
  color: #CECECD;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 10px;
  /*background: yellow;  */
}

form.chapter-input {
  margin-bottom: 20px;
}

form.chapter-input > .form-group {
  width: 33%;
}

form.chapter-input > .form-group > input {
  width: 100%;
}

form .form-file {
  display: none;
}

form .form-directory {
  display: none;
}

input.audio-file {
  width: 165px;
}

:required , .required {
  background-color: orange;
  color: #CECECD;
}

.btn {
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 10px;

}

.btn:hover, .btn:focus {
  background-color: red;
}

.chapter-box {
  text-align: center;
  width: 30vh;
  border: 5px solid black;
  padding: 7px;
  margin-bottom: 10px;
}

#emailIntroInput {
  height: 135px;
  max-height: 135px;
}
