body {
  background-color: beige;
}

img {
  max-height: 70px;
}

nav.navbar {
  border-radius: 0;
}

h1 {
  margin-bottom: 20px;
}

label {
  cursor: pointer;
  display: block;
  color: white;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 10px;
  background: limegreen;
}

form.chapter-input {
  margin-bottom: 20px;
}

form.chapter-input > .form-group {
  width: 33%;
}

form.chapter-input > .form-group > input {
  width: 100%;
}

form .form-file {
  display: none;
}

input.audio-file {
  width: 165px;
}

.chapter-box {
  text-align: center;
  width: 30vh;
  border: 5px solid black;
  padding: 7px;
  margin-bottom: 10px;
}

#emailIntroInput {
  height: 135px;
  max-height: 135px;
}
