html {
  height: 100%;
  position: relative;
}

body {
  height: inherit;
  background-color: beige;
  position: inherit;
}

header {
  background-color: black;
  text-align: center;
  border-style: ridge;
  min-width: 10%;
  height: 7rem;
  position: inherit;
}

img {
  min-width: 5%;
  margin: 0 auto;
  height: inherit;
  margin-right: 88%;
  position: relative;
}

main {
  margin: auto;
  height: inherit;
  width: 95%;
  position: relative;
}

h1 {
  margin-top: 0rem;
  padding-top: .8rem;
}

/* --Begin first column-- */
#new-form {
  margin-top: 5rem;
}

#book-title {
  margin-bottom: 5rem;
}

label {
  font-size: 1.5rem;
}

input {
  width: 25%;
  display: block;
  border: 1px solid #0CF;
  margin-bottom: 1.2rem;
}

.chapter {
  height: 1.5rem;
  font-size: 1rem;
  margin-bottom: .74rem;
}
/*------------------------*/

/* --Begin second column-- */
textarea {
  height: 8.2rem;
  display: block;
  resize: none;
  margin-top: -1.2rem;
  margin-left: 5%;
  margin-bottom: 5rem;
  width: 70%;
  border: 1px solid #0CF;
}

#right-column-container {
  margin-top: 3rem;
  text-align: center;
  position: absolute;
  top: 13%;
  right: 53%;
  width: 20%;
}

.upload-button {
  width: 100%;
  padding-right: 3rem;
  display: block;
  margin-left: 5%;
  border: none;
  cursor: pointer;
}

::-webkit-file-upload-button {
    cursor:pointer;
}

#process-button {
  display: block;
  background-color: #0C0;
  border-radius: 5%;
  border: 2px solid black;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-left: 5%;
  padding: 0 1.1rem 0 1.1rem;
}
/*-----------------------*/
