<div class="row">
  <div class="col-sm-12">
    <div class="fluid-container">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="chapter{{ number }}TitleInput"
              placeholder="Chapter {{ number }} Title"
            >
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <input
              type="file"
              class="form-control"
              id="chapter{{ number }}FileInput"
            >
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <button
              class="btn btn-success"
              id="chapter{{ number }}Submit"
            >HTML</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
