<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Epic Reads Email</title>
    <link rel="icon" href="/vendor/img/header.jpg" type="image/jpg">
    <link rel="stylesheet" href="/vendor/bootstrap-3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/base.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <img src="/vendor/img/header.jpg" />
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>New First 5</h1>
        </div>
      </div>

      <div class="row" id="metadata">
        <form>
          <fieldset>
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="isbnInput"
                  placeholder="ISBN"
                >
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="authorInput"
                  placeholder="Author Name"
                >
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="bookInput"
                  placeholder="Book Title"
                >
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <textarea
                  class="form-control"
                  id="emailIntroInput"
                  placeholder="Email Intro"
                  rows="6"
                ></textarea>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

      <hr>

      <div class="row" id="errorMessage">
        <div class="col-sm-12">
          <div class="alert alert-danger" role="alert">You must fill in metadata before you upload chapters!</div>
        </div>
      </div>

      <form>
        <fieldset id="chapterInputFieldset" disabled>
          {{! Add five chapter inputs !}}
          {{#each chapters}}
            {{> chapterInput number=this }}
          {{/each}}
        </fieldset>
      </form>
    </div>

    <script src="vendor/scripts/jquery-2.1.4.js"></script>
    <script src="scripts/uploadController.js"></script>
  </body>
</html>
