header {
  background-color: black;
  text-align: center;
  border-style: ridge;
  min-width: 10%;
  height: 7rem;
}

img {
  min-width: 5%;
  margin: 0 auto;
  height: inherit;
  margin-right: 88%;
}

main {
  margin: auto;
  width: 95%;
  position: relative;
}

h1 {
  margin-top: 0rem;
  padding-top: .8rem;
}

/* --Begin left column-- */
#new-form {
  margin-top: 5rem;
}

#book-title {
  margin-bottom: 5rem;
}

label {
  font-size: 1.5rem;
}

input {
  width: 25%;
  display: block;
  border: 1px solid #0CF;
  margin-bottom: 1.2rem;
}

.chapter {
  height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
/*------------------------*/

/* --Begin right column-- */
textarea {
  display: block;
  resize: none;
  margin-left: 18%;
  margin-bottom: 4.3rem;
  width: 70%;
  border: 1px solid #0CF;
}

#right-column-container {
  margin-top: 3rem;
  text-align: center;
  position: absolute;
  top: 13%;
  right: 53%;
  width: 20%;
}

ul {
  padding: 0;
  margin-top: 4.8rem;
}

.upload-button {
  margin-top: 5px;
  width: 17%;
  padding-right: 3rem;
  display: block;
  margin-left: 35%;
  cursor: pointer;
}

#chap-five {
  margin-top: 7px;
}

#process-button {
  display: block;
  background-color: #0C0;
  border-radius: 5%;
  border: 2px solid black;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-left: 30%;
}
/*-----------------------*/
